<h1>Indulge your senses</h1>
<form action='/tamagotchi' method="post">
  <div class="form-group">
    <label for="name">Name your lil friend</label>
    <input id="name" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info" id="createBaby">create</button>
</form>
